@model Student_Portal.Models.IndexViewModel
@{
    ViewBag.Title = "Additional Settings";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="justify-content-center">

    @*<dl class="dl-horizontal">
        
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        
        
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }
        </dd>
    </dl>*@

    <div class="col-8 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Additional Settings</h4>
                <a href="/Manage/ManageLogins" class="btn btn-outline-info btn-md mb-3">(@Model.Logins.Count) Manage Extenal Logins</a>
                <br />
                @if (Model.HasPassword)
                {
                    @*@Html.ActionLink("", "", new { @class = "btn btn-danger mb-3" })*@
                    <a href="/Manage/ChangePassword" class="btn btn-outline-danger btn-md mb-3">Change your password</a>
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                @*[@Model.Logins.Count] @Html.ActionLink("Manage Extenal Logins", "ManageLogins")*@

                <br />
                <br />
                <a href="/Manage/Settings" class="btn btn-light mb-3">Back to settings</a>
            </div>
        </div>
    </div>
</div>