@model Student_Portal.Models.ProfileViewModel
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Student_Portal.Models;

@{
    ViewBag.Title = "Profile Settings";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<div class="row">
    <div class="col-lg-6 col-ml-12">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Update Your Profile</h4>
                    @using (Ajax.BeginForm("Settings", "Manage", new AjaxOptions { HttpMethod = "POST" }))
                    {
                        @Html.AntiForgeryToken()
                        @*@Html.ValidationSummary()*@
                        if (Request.IsAuthenticated)
                        {
                            var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
                            var currentUser = manager.FindById(User.Identity.GetUserId());
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-3">
                                    @Html.LabelFor(m => m.Firstname, new { @class = "col-form-label" })
                                    <input class="form-control text-box single-line" type="text" name="Firstname" value="@currentUser.Firstname" id="Firstname">
                                    @Html.ValidationMessageFor(m => m.Firstname)
                                </div>

                                <div class="form-group col-md-6 mb-3">
                                    @Html.LabelFor(m => m.Lastname, new { @class = "col-form-label" })
                                    <input class="form-control" type="text" name="Lastname" value="@currentUser.Lastname" id="Lastname">
                                    @Html.ValidationMessageFor(m => m.Lastname)
                                </div>
                                <div class="col-md-12 mb-3">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-form-label" })
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend">@@</span>
                                        </div>
                                        <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" value="@currentUser.Email" aria-describedby="inputGroupPrepend" required="">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-form-label" })
                                    <input type="date" class="form-control text-box single-line" data-val="true" data-val-required="The Date Of Birth field is required." id="DateOfBirth" placeholder="Date Of Birth" value="@currentUser.DateOfBirth" name="DateOfBirth" required="">
                                    @Html.ValidationMessageFor(m => m.DateOfBirth)
                                </div>
                                <div class="col-md-6 mb-3">
                                    @Html.LabelFor(m => m.Mobile, new { @class = "col-form-label" })
                                    <input type="text" class="form-control" id="Mobile" name="Mobile" placeholder="Mobile Number" value="@ViewBag.Mobile" required="">
                                </div>
                                <div class="col-md-6 mb-3">
                                    @Html.LabelFor(m => m.Country, new { @class = "col-form-label" })
                                    <input type="text" class="form-control" id="Country" name="Country" placeholder="Country" value="@currentUser.Country" required="">
                                </div>
                                <div class="col-md-3 mb-3">
                                    @Html.LabelFor(m => m.City, new { @class = "col-form-label" })
                                    <input type="text" class="form-control" id="City" name="City" placeholder="City" value="@currentUser.City" required="">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationCustom05">Zip</label>
                                    <input type="text" class="form-control" id="validationCustom05" placeholder="Zip">
                                </div>
                                <div class="col-md-12 mb-3">
                                    @Html.LabelFor(m => m.Address1, new { @class = "col-form-label" })
                                    <textarea type="text" id="Address1" class="form-control" name="Address1" placeholder="Address" spellcheck="true" required="">@currentUser.Address1</textarea>
                                </div>
                                <div class="col-md-12 mb-3">
                                    @Html.LabelFor(m => m.Address2, new { @class = "col-form-label" })
                                    <textarea type="text" id="Address2" class="form-control" name="Address2" placeholder="Address" spellcheck="true"></textarea>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Update my profile</button>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <a href="/Manage/AdditionalSettings" class="btn btn-outline-danger mt-4 pr-4 pl-4">Additional Settings</a>
                                </div>
                            </div>
                            @*<button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Update my profile</button>*@
                           
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-ml-12">

        <div class="col-12">
            <div class="card mt-5">
                <div class="card-body">
                    <h4 class="header-title">Academic Details</h4>
                    <form class="needs-validation" novalidate="">
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom01">Institution</label>
                                <input type="text" class="form-control" id="validationCustom01" disabled placeholder="Institution" value="@ViewBag.Institution" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom03">Program</label>
                                <input type="text" class="form-control" disabled id="validationCustom03" placeholder="Program" value="@ViewBag.Program" required="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom04">Joined in</label>
                                <input type="text" class="form-control" disabled id="validationCustom04" placeholder="YearOfJoining" value="@ViewBag.YearOfJoining" required="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}