@model Student_Portal.Models.ApproveViewModel

@{
    ViewBag.Title = "Registered Courses";
}
@if (ViewBag.RegSuccess != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Yayyy!</strong> The course was successfully registered.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="fa fa-times"></span>
        </button>
    </div>
}
<div class="row justify-content-md-center">
    <div class="col-lg-9 mt-5">
        <div class="card">
            <div class="card-body">
                <h4>Unpproved Courses</h4>
                <p>Total number of Registered Course: @Model.UnappovedCourses.Count()</p>
                <p>Total Units Registered: @Model.UnappovedCourses.Sum(i => i.CourseUnit)</p>
                <br />
                @if (Model.UnappovedCourses.Count() == 0)
                {
                    <p>You have not registered any courses. Click @Html.ActionLink("here", "Index", "RegisterCourse") to register a course.</p>
                }
                else
                {

                    <table class="table">
                        <tr>
                            <th>
                                @*@Html.DisplayNameFor(model => model.CourseName)*@
                                Course Name
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.CourseCode)*@
                                Course Code
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.CourseUnit)*@
                                Course Unit
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.UnappovedCourses)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseUnit)
                                </td>
                            </tr>
                        }

                    </table>
                }
            </div>
        </div>
    </div>

    <div class="col-lg-9 mt-5">
        <div class="card">
            <div class="card-body">
                <h4>Approved Courses</h4>
                <br />
                @if (Model.AppovedCourses.Count() == 0)
                {
                    <p>You currently don't have any approved  courses. Please checkback later.</p>
                }
                else
                {

                    <table class="table">
                        <tr>
                            <th>
                                @*@Html.DisplayNameFor(model => model.CourseName)*@
                                Course Name
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.CourseCode)*@
                                Course Code
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.CourseUnit)*@
                                Course Unit
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.AppovedCourses)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseUnit)
                                </td>
                            </tr>
                        }

                    </table>
                }
            </div>
        </div>
    </div>
</div>