@model IEnumerable<Student_Portal.Models.ViewModel>

@{
    ViewBag.Title = "Registered Courses";
}
@if (ViewBag.RegSuccess != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Yayyy!</strong> The course was successfully registered.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="fa fa-times"></span>
        </button>
    </div>
}
<div class="row justify-content-md-center">
    <div class="col-lg-9 mt-5">
        <div class="card">
            <div class="card-body">
                <p>Total number of Registered Course: @Model.Count()</p>
                <p>Total Units Registered: @Model.Sum(i => i.CourseUnit)</p>
                <br />
                @if (Model.Count() == 0)
                {
                    <p>You have not registered any courses. Click @Html.ActionLink("here", "Index", "RegisterCourse") to register a course.</p>
                }
                else
                {

                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CourseName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CourseCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CourseUnit)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseUnit)
                                </td>
                            </tr>
                        }

                    </table>
                }
            </div>
        </div>
    </div>
</div>