@model Student_Portal.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
    @Styles.Render("~/template/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
</head>


<body>
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <div class="login-area login-bg">
        <div class="container">
            @*<div class="login-box ptb--100">*@
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Sign up</h4>
                    <p class="text-muted font-14 mb-4">Hello there, Sign up and Join with Us.</p>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        if (Html.ValidationSummary(true, "", new { @class = "text-danger" }) != null)
                        {
                            @*<div class="alert alert-dismissible alert-danger" style="max-width:360px; max-height:72px">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Oh snap!</strong> @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>*@
                        }
                        <div class="form-group">
                            <div class="col-md-12 mb-3">
                                @Html.LabelFor(m => m.Email, new { @class = "col-form-label" })
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend">@@</span>
                                    </div>
                                    <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" value="" aria-describedby="inputGroupPrepend" required="">
                                    @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 mb-3">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 mb-3">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 mb-3">
                                @Html.LabelFor(m => m.RoleeName, new { @class = "col-form-label" })
                                @Html.DropDownListFor(m => m.RoleeName, new SelectList(ViewBag.Roles, "Value", "Text", "Student"), new { @class = "form-control" })
                            </div>
                        </div>
                        <h4 class="header-title">Personal Details</h4>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4 mb-3">
                                @Html.LabelFor(model => model.Fathername, htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.Fathername, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Fathername, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4 mb-3">
                                @Html.LabelFor(model => model.Mothername, htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.Mothername, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Mothername, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4 mb-3">
                                @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div>
                            <h4 class="header-title">Communication Details</h4>

                            <div class="col-md-6 mb-3">
                                @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6 mb-3">
                                @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-12 mb-3">
                                @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "ccol-form-label" })
                                @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-12 mb-3">
                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-12 mb-3">
                                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div>
                            <h4 class="header-title">Academic Details</h4>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Institution, htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.Institution, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Institution, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Program, htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.Program, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Program, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.YearOfJoining, htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.YearOfJoining, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.YearOfJoining, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="submit-btn-area">
                            @*<input type="submit" class="btn btn-default" value="Sign Up" />*@
                            <button id="form_submit" type="submit">Sign Up <i class="ti-arrow-right"></i></button>
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted">Do you have an account? <a href="/account/login">Sign in</a></p>
                        </div>
                        @*</div>*@

                    }
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/template/js")
    @Scripts.Render("~/bundles/lib")
   

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>