@model IEnumerable<Student_Portal.Models.RoleViewModel>

@{
    ViewBag.Title = "Roles";
}

<div class="row justify-content-md-center">
    <div class="col-lg-9 mt-5">
        <p>
            @Html.ActionLink("Add New Role", "Create")
        </p>

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Roles</h4>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th scope="col">action</th>
                                </tr>
                                <tr></tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { @class = "btn btn-flat btn-primary mb-3", id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { @class = "btn btn-flat btn-primary mb-3", id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { @class = "btn btn-danger mb-3", id = item.Id, })
                                        </td>
                                    </tr>
                                </tbody>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
